.mar-parent-con{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* background: linear-gradient(53deg,rgb(116, 0, 116), rgb(28, 0, 28)); */
}

.mar-left-con{
    width: 40%;
    height: 100vh;
    /* position: fixed; */
}

.mar-left-con h1, .mar-left-con h2{
    font-size: 10vh;
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
    margin-top: 25vh;
    width: fit-content;
    margin-left: 5vw;
}

.mar-left-con h2{
    font-size: 4vh;
    margin-top: 3vh;
    color: black;
}

.mar-right-con{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* flo */
    justify-content: center;
}

.mar-card{
    margin: 1vw;
    /* margin-right: 1.5vw; */
}

.illustration{
    margin-left: 2vw;
    margin-top: 5vh;
    width: 37vw;
}

.sell{
    margin-right: 2vw;
}