.res-main {
  /* height: 30vh; */
  margin-top: 15vh;
  /* background-color: pink; */
}

.res-head {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.res-head .desc {
  margin: auto 25vh;
  display: flex;
  text-align: center;
  margin-bottom: 10vh;
}
.res-head .heading {
  font-family: Rubik;
  font-size: 4vw;
  margin-bottom: 10vh;
  /* font-weight: 600; */
}

.res-tokens {
  height: 40vh;
  width: 60vw;
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: auto;
  margin-bottom: 10vh;
  margin-top: 10vh;
}

.res-token {
  /* height: inherit;*/
  height: 80%;
  border-radius: 4vh;
  /* border-radius; */
  border: 1.5px solid orange;
  width: 40%;
  transition: animate 3s cubic-bezier(0.25, 0.1, 0.25, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.res-token:hover {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.res-token:hover .res-token-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* .res-token:hover .res-token-content1 {
  background-color: orange; 
  height: inherit;
  width: inherit;
  margin: auto;
} */

.res-token-content1 img {
  height: 100%;
  width: 100%;
  /* border-radius: 50%; */
}

.res-token-content {
  /* background-color: blue; */
  /* height: inherit; */
  font-family: sfMono;
  font-size: 30px;
  width: inherit;
  display: flex;
  flex-direction: column;
  /* background-color: antiquewhite; */
  /* justify-content: space-between; */
  padding-top: 20%;
  padding-left: 10%;
}

.res-token-val {
  height: 20%;
  /* background-color: aqua; */
  /* height: inherit; */
  width: inherit;
  margin-bottom: 10%;
}

.res-token-curr {
  margin-left: 10%;
  font-size: 20px;
  font-family: Rubik;
  height: 20%;
  width: inherit;
  /* background-color: azure; */
}

@keyframes token-fill {
  50% {
    background-image: linear-gradient(to top, orange 50%, #000000 50%);
  }
  100% {
    background-image: linear-gradient(to top, orange 100%, #000000 0%);
  }
}

.res-table {
  height: 20vh;

  /* margin: auto; */
  margin: 20vh 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.res-table-head {
  margin-bottom: 10vh;
}

.res-table span {
  font-family: Rubik;
  font-size: 4vw;
  /* font-weight: 600; */
}

.res-table-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}
