@font-face {
  font-family: "sfMono";
  src: url(./assets/SFMonoMedium.woff) format("woff2");
}

@font-face {
  font-family: "Rubik";
  src: url(./assets/Rubik-Regular.ttf);
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 300%;
  background-color: #434343;
  /* background-image: linear-gradient(#432c7a, #80489c, #ff8fb1); */
  /* background-color: black; */
  margin: 0;
  overflow-x: hidden;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  /* height: 100% !important; */
}
